@page
@model LibRazor.Pages.Kitaplar.IndexModel

<h2>Kitap Listesi</h2>

<div class="mb-3">
    <a class="btn btn-primary btn-sm" href="/Kitaplar/Create">Kitap Ekle</a>
    <a class="btn btn-success btn-sm ms-2" href="/Kitaplar/Index?handler=ExportExcel">Excel İndir</a>
    <a class="btn btn-danger btn-sm ms-2" href="/Kitaplar/Index?handler=ExportPdf">PDF İndir</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Kitap Id</th>
            <th>Kitap Adı</th>
            <th>Fiyat</th>
            <th>Sayfa Sayısı</th>
            <th>Yayınevi</th>
            <th>İşlemler</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.listele)
        {
            <tr>
                <td>@item.KitapId</td>
                <td>@item.KitapAdi</td>
                <td>@item.Fiyat</td>
                <td>@item.SayfaSayisi</td>
                <td>@item.Yayinevi</td>
                <td>
                    <a class="btn btn-warning btn-sm" href="/Kitaplar/Edit?id=@item.KitapId">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Kitaplar/Delete?id=@item.KitapId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>